In [ ]:
import pandas as pd
import numpy as np
import os
import warnings
import re
warnings.filterwarnings("ignore")

In [ ]:
meta = pd.read_csv('/content/drive/MyDrive/SSAC/메인 프로젝트/Dataset/movies_metadata.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
meta.head()    # 전처리 전 movie_meta 데이터

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
meta = meta[['id', 'title', 'genres',  'overview', 'production_companies', 'release_date']] # 필요한 컬럼만 뽑기
meta.head()

      id  ... release_date
0    862  ...   1995-10-30
1   8844  ...   1995-12-15
2  15602  ...   1995-12-22
3  31357  ...   1995-12-22
4  11862  ...   1995-02-10

[5 rows x 6 columns]

In [ ]:
#ID 전처리

new_id = []
for id in meta['id']:
    try:
        a = int(id)
        new_id.append(a)
    except:
        new_id.append(0) 
 
meta['id'] = new_id # id를 int로 변환 및 연도 값 들어간 경우 0으로 변환

In [ ]:
#Genre와 release_date 전처리

import re
meta['genres'] = meta['genres'].apply(lambda x: ' '.join(re.findall(r"\: '([A-z]+)\'", x))) # genre 딕셔너리 각각 꺼내기
meta['release_date'] = meta['release_date'].apply(lambda x: str(x)[:3] + '0').replace('nan0', np.nan) # release 십 년 단위로 가공하기

In [ ]:
#Production companies 전처리

from ast import literal_eval 

# Nan값과 []에 'name'을 key로 하는 dict로 채워주고, str을 dict으로 바꿔주기
meta['production_companies'] = meta['production_companies'].fillna("[{'name': ''}]").replace('[]', "[{'name': ''}]").apply(lambda x: str(x)).apply(literal_eval)

# production_companies name을 new_pc list에 할당하기
new_pc = []

for i in meta['production_companies']:       
    try:
        sub = []
        for j in range(len (i)):
            sub.append(i[j]['name'])
        new_pc.append(' '.join(sub))
    except:
        new_pc.append('')

new_pc

# 원래 열에 업데이트
meta['production_companies'] = new_pc

In [ ]:
meta.head()

      id  ... release_date
0    862  ...         1990
1   8844  ...         1990
2  15602  ...         1990
3  31357  ...         1990
4  11862  ...         1990

[5 rows x 6 columns]

In [ ]:
credit_df = pd.read_csv('/content/drive/MyDrive/SSAC/메인 프로젝트/Dataset/credits.csv')
credit_df    #데이터 확인 해보니 결측값 대신 [] 대신 들어가 있다

                                                    cast  ...      id
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...   31357
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...   11862
...                                                  ...  ...     ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...  439050
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...  111109
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...   67758
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  227506
45475                                                 []  ...  461257

[45476 rows x 3 columns]

In [ ]:
#[] 있는 Row의 인덱스를 담는 리스트를 생성하여 해당 Row들을 제거해준다
credit_df.drop(list(credit_df[credit_df['cast'] == '[]'].index),inplace = True)
credit_df.drop(list(credit_df[credit_df['crew'] == '[]'].index),inplace = True)
credit_df

                                                    cast  ...      id
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...   31357
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...   11862
...                                                  ...  ...     ...
45470  [{'cast_id': 1, 'character': 'Sir Robert Hode'...  ...   30840
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...  439050
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...  111109
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...   67758
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  227506

[42708 rows x 3 columns]

In [ ]:
# 배우 상위 5명 리스트로 묶음
# 배우 전처리 과정
# 1. 각 셀마다 출연 배우 리스트의 이름만 뽑는다 (딕셔너리안에 'name'에 해당하는 부분)
# 2. 배우의 성과 이름만 가져와서 (중간이름 X) 사이 띄어쓰기를 없엔다 (띄어쓰기 대신 - 있는 경우도 있어서 따로 제거)
# 3. 그렇게 뽑은 배우 이름들 중 상위 5명만 하나의 문장 형식으로 만든다
credit_df['cast_list'] = credit_df['cast'].apply(lambda k : " ".join([y.split(' ')[0]+ y.split(' ')[-1]for y in [x.split("', 'order'")[0] for x in k.split("'name': '")[1:6]]]))
credit_df

                                                    cast  ...                                          cast_list
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  TomHanks TimAllen DonRickles JimVarney Wallace...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  RobinWilliams JonathanHyde KirstenDunst Bradle...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  WalterMatthau JackLemmon Ann-MargretAnn-Margre...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  WhitneyHouston AngelaBassett LorettaDevine Lel...
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...  SteveMartin DianeKeaton MartinShort KimberlyWi...
...                                                  ...  ...                                                ...
45470  [{'cast_id': 1, 'character': 'Sir Robert Hode'...  ...  PatrickBergin UmaThurman DavidMorrissey Jürgen...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...               LeilaHatami KouroshTahami ElhamKorda
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...  AngelAquino PerryDizon HazelOrencio JoelTorre ...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...  ErikaEleniak AdamBaldwin JuliePage JamesRemar ...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  IwanMosschuchin NathalieLissenko PavelPavlov A...

[42708 rows x 4 columns]

In [ ]:
from ast import literal_eval

# crew : 감독 이름
for col in ['crew']:
    credit_df[col] = credit_df[col].apply(literal_eval) #딕셔너리 형식으로 쓰인 문자열을 진짜 딕셔너리로 형변환 해준다
    credit_df['director'] = credit_df[col].apply(lambda x : [d['name'] for d in x if d['job']=='Director']).apply(lambda x : " ".join(x)) #그 중 '디렉터'에 해당하는 부분과 그 감독 이름만 추출하여
    # credit_df['director'] = credit_df['director'].apply(lambda x : x.replace(' ','').replace('.','')) # 띄어쓰기를 제거해준다
     
credit_df['director'] = credit_df['director'].apply(lambda x : x.split(' ')[0]+x.split(' ')[-1]) #감독 이름 중 이름과 성만 가져와서 붙임 (중간이름 뺌)

In [ ]:
credit_df

                                                    cast  ...         director
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     JohnLasseter
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...      JoeJohnston
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...     HowardDeutch
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...   ForestWhitaker
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...     CharlesShyer
...                                                  ...  ...              ...
45470  [{'cast_id': 1, 'character': 'Sir Robert Hode'...  ...        JohnIrvin
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...  HamidNematollah
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...          LavDiaz
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...       MarkLester
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  YakovProtazanov

[42708 rows x 5 columns]

In [ ]:
credit_df['character_list'] = credit_df['cast'].apply(lambda k : [x.replace('-','').replace(' ','').replace('/', ' ') for x in [x.split("', 'credit_id':")[0] for x in k.split("'character': '")][1:6]])
credit_df['character_list'] = credit_df['character_list'].apply(lambda k : " ".join(k))
credit_df

                                                    cast  ...                                     character_list
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  Woody(voice) BuzzLightyear(voice) Mr.PotatoHea...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  AlanParrish SamuelAlanParrish VanPelt JudyShep...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  MaxGoldman JohnGustafson ArielGustafson MariaS...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  RobinStokes MarvinKing KennethDawkins JohnHarr...
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...  GeorgeBanks NinaBanks FranckEggelhoffer AnnieB...
...                                                  ...  ...                                                ...
45470  [{'cast_id': 1, 'character': 'Sir Robert Hode'...  ...  SirRobertHode MaidMarian LittleJohn SirMilesFo...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...  SisterAngela Homer CrazyWoman Virgin AmangTibu...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...  EmilyShaw Det.MarkWinston JayneFerré AlexTyler...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...

[42708 rows x 6 columns]

In [ ]:
credit = credit_df[['id', 'cast_list', 'character_list', 'director']]
credit

           id  ...         director
0         862  ...     JohnLasseter
1        8844  ...      JoeJohnston
2       15602  ...     HowardDeutch
3       31357  ...   ForestWhitaker
4       11862  ...     CharlesShyer
...       ...  ...              ...
45470   30840  ...        JohnIrvin
45471  439050  ...  HamidNematollah
45472  111109  ...          LavDiaz
45473   67758  ...       MarkLester
45474  227506  ...  YakovProtazanov

[42708 rows x 4 columns]

In [ ]:
keywords_df = pd.read_csv('/content/drive/MyDrive/SSAC/메인 프로젝트/Dataset/keywords.csv')
keywords_df

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
# []으로 된 사실상 결측치를 제거해줌
keywords_df.drop(list(keywords_df[keywords_df['keywords'] == '[]'].index), inplace = True)

In [ ]:
#credit과 마찬가지로 키워드에 해당하는 부분만 뽑아 하나의 문장으로 만든다
#대신 키워드끼리의 구분은 스페이스
#스페이스가 들어가있는 키워드를 하나로 합치는 버전이랑 그대로 둔 버전을 만든다
# based on novel이 키워드면 하나는 원래대로 두고 하나는 basedonnovel로 만듬
keywords_df['keyword_list'] = keywords_df['keywords'].apply(lambda k : " ".join([x.split("'}")[0] for x in k.split("'name': '")[1:]]))
keywords_df['keyword_list_no_space'] = keywords_df['keywords'].apply(lambda k : " ".join([x.split("'}")[0].replace(" ","") for x in k.split("'name': '")[1:]]))
keywords_df

           id  ...                              keyword_list_no_space
0         862  ...  jealousy toy boy friendship friends rivalry bo...
1        8844  ...  boardgame disappearance newhome recluse gianti...
2       15602  ...     fishing bestfriend duringcreditsstinger oldmen
3       31357  ...  basedonnovel interracialrelationship singlemot...
4       11862  ...  baby midlifecrisis confidence aging daughter m...
...       ...  ...                                                ...
46409   84419  ...  revenge murder serialkiller newyorkcity sculpt...
46410  390959  ...                                         blairwitch
46411  289923  ...   witch mythology legend serialkiller mockumentary
46414  439050  ...                                         tragiclove
46415  111109  ...                                  artist play pinoy

[31624 rows x 4 columns]

In [ ]:
keyword = keywords_df[['id', 'keyword_list', 'keyword_list_no_space']]

In [ ]:
data_no_keyword = pd.merge(credit, meta, on = 'id')

In [ ]:
data_keyword = pd.merge(data_no_keyword, keyword, on='id')

In [ ]:
data_no_keyword.drop_duplicates(inplace=True)

In [ ]:
data_keyword.drop_duplicates(inplace=True)

In [ ]:
 data_no_keyword.to_csv('/content/drive/MyDrive/SSAC/메인 프로젝트/Dataset/data_no_keyword.csv', index=False)
 data_keyword.to_csv('/content/drive/MyDrive/SSAC/메인 프로젝트/Dataset/data_keyword.csv', index=False)